NEXT_PUBLIC_SUPABASE_URL=https://ngposljpdjgjhesdrxll.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ncG9zbGpwZGpnamhlc2RyeGxsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNjI0NTUsImV4cCI6MjA4ODYzODQ1NX0.kVKAGnAVlVjGOGmXmHhawDGq3v3YlorlEBML5YzySoA